.o-CenteredColumn--lg {
    margin: 0 auto;
    max-width: 64rem;
}

.o-CenteredColumn--med{
    margin: 0 auto;
    max-width: 32rem;
}

.o-CenteredColumn--sm {
    margin: 0 auto;
    max-width: 16rem;
}