$headerLinkGrey: #9d9d9d;
$charcoal: #222;


$lightGrey: #ececec;
$successBackground: #dff0d8;
$successMessage: #3c763d;
$buttonBlue: #6495ed;

$tableBorder: #ddd;
$tableHeadBackground: #337AB7;

