.c-button {
    border-radius: 1rem;
    background-color: white;
    border: 2px solid;
    border-color: $buttonBlue;
    color: $buttonBlue;
    padding: .5rem 2rem;
    font-weight: 700;
}

.c-button:hover {
    background-color: $buttonBlue;
    color: white;
}
