.c-form{
    margin: 1rem;
}

.c-form__input{
    width: 100%;
    padding: .375rem .25rem;
    border-radius: .25rem;
    max-width: 100%;
    border: 2px solid #ccc;
}

.c-form__error{
    color: red;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .75rem;
}