.c-navbar {
    position: fixed;
    background-color: $charcoal;
    top: 0;
    width: 100%;
}

.c-navbar__mainLink {
    float: left;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: $headerLinkGrey;
    text-decoration:none;
}
