.c_navbar {
    position: fixed;
    background-color: $charcoal;
}

.c-navbar__mainLink {
    float: left;
    height: 50px;
    padding: 1rem 1rem;
    font-size: 2.5rem;
    color: $headerLinkGrey;
}
