.c_navbar {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: $charcoal;
}

.c-navbar__mainLink {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: $testGrey;
}
